<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a id="Links" th:href="@{/Leaderboard}">Leaderboard</a>
	</div>
	<div align="right">
		<a id="Links" th:href="@{/Logout}">Logout</a>
	</div>
	<div align="center">
	<h1 th:if="${product != null}">Product of the day</h1>
	<br>
	<table class="product-table">
		<thead>
	     	<tr class="border_bottom">
	        	<td rowspan="4">
					<img height="250px" alt="product_image" th:src="*{'data:image/png;base64,' + product.getImageData()}">
	        	</td>
	        	<th width="250px">Product Name, Price</th>
	        </tr>
	        <tr>
				<td th:text= "${product.name + ', '+ product.price}"></td>
	      	</tr>
	      	<tr>
	      		<th>Description</th>
	      	</tr>
	      	<tr class="border_bottom">
				<td th:text= "${product.description}"></td>
	      	</tr>
      	</thead>
     </table> 
     
     <div th:if="${product == null}">
		<p>There isn't any highlighted product today.</p>
	</div>
	<br> 
	
	<div>
		<a id="AdminLink" th:href="@{/InsertNewProduct}">Insert a new Product</a>
	</div>	
	<div>
		<a id="AdminLink" th:href="@{/CreateQuestionnaire}">Create a new questionnaire.</a>
	</div>	
	<div>
		<a id="AdminLink" th:href="@{/PastResults}">See the results of past questionnaires.</a>
	</div>	
	<div>
		<a id="AdminLink" th:href="@{/DeleteQuestionnairePage}">Delete a past questionnaire.</a>
	</div>
	
 	</div>
	
	
</body>
</html>