<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Answer Questionnaire</title>
<style>
input[type=text],[type=password]{
	width: 25%;
	padding: 7px 5px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid gray;
}
button[type="submit"] {
  background-color: #989898 !important;
  color: white !important;
  padding: 1% 1.5% !important;
  display: inline-block !important;
  width:150px !important;
  text-align: center !important;
}
button[type="submit"]:hover {
	background-color: #555 !important;
}
</style>
</head>
<body>

	<div align="center">
		<h2>In order to gain points, answer the following questions:</h2>
		<br>
		<br>
		
		<div>
			<div th:if="${answers == null}">
				<form th:action="@{/GoToStatistical}" method="POST">
					<div th:each="q : ${questions}">
						<div class="row">
							<span th:text="${q.questionText}"></span>
						</div>
						<div class="row">
							<input type="text" name="Answer" required="required">
						</div>
					</div>
					<br>
					<button type="submit" name="action" value="submit">Next Page</button>				
				</form>
			</div>
			<div th:unless="${answers == null}">
				<form th:action="@{/GoToStatistical}" method="POST">
					<div th:each="q,i : ${questions}">
						<div class="row">
							<span th:text="${q.questionText}"></span>
						</div>
						<div class="row">
							<input type="text" name="Answer" required="required" maxlength="200" th:value="${answers[i.index]}">
						</div>
					</div>
					<br>
					<button type="submit" name="action" value="submit">Next Page</button>				
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>