<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="ISO-8859-1">
<title>Create questionnaire</title>
<style>
button[type="submit"] {
  background-color: #989898 !important;
  color: white !important;
  padding: 1% 1.5% !important;
  display: inline-block !important;
  width:300px !important;
  text-align: center !important;
}
button[type="submit"]:hover {
	background-color: #555 !important;
}
</style>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>


<body>

	<div id="Links" align="right">
		<a th:href="@{/AdminPage}">Go back to Admin Page</a>
	</div>
	<div id="Links" align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>	
	
	
		
	<div align="center">
	
		<h1>Creation page</h1>
		
		<br>
		<br>
		<br>
		
		<div th:if="${wrongParameters == null}">
			<h4>You have to set these parameters and click on the button to proceed (it's mandatory) </h4>
			<br>
			<form action="#" th:action="@{/SavequestionnaireParameters}" method="POST">		
				<label for="numer of questions">Insert the number of questions you want to ask:</label>	
				<br>
				<input type="number" id="numberOfQuestions" name="numberOfQuestions" min="1" max="10" value="3" required="required">
		
				<br>
				<br>
		
				<label for="numer of questions">Insert the date for the new questionnaire:</label>	
				<br>
				<input type="date" id="questionnaireDate" name="questionnaireDate" required="required">
			
				<br>
				<br>
				<div align="center">
					<button type="submit" name="submit_param" value="submit">Set the date and the number of questions</button>
				</div>
			</form>
		</div>
				
		<div th:if="${wrongDate != null}">
			<h4 style="color:red;"> The date you entered is wrong,it can't be previous than today</h4>
			<form action="#" th:action="@{/SavequestionnaireParameters}" method="POST">
			<label for="numer of questions">Reinsert the date for the new questionnaire</label>	
			<br>
			<input type="date" id="questionnaireDate" name="questionnaireDate" required="required">
			<div align="center">
			<button type="submit" name="submit_param" value="submit">Set this date</button>
			</div>
			</form>
		</div>
		
		<div th:if="${questAlreadyExists != null}">
			<h4 style="color:red;"> The date you inserted is wrong, there is already an existing questionnaire on that date</h4>
			<form action="#" th:action="@{/SavequestionnaireParameters}" method="POST">
			<label for="numer of questions">Reinsert the date for the new questionnaire</label>	
			<br>
			<input type="date" id="questionnaireDate" name="questionnaireDate" required="required">
			<div align="center">
			<button type="submit" name="submit_param" value="submit">Set this date</button>
			</div>
			</form>
		</div>
		
				
	</div>
	
		
</body>
</html>