<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Thank you</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	
	<div id="Links" align="right">
		<a th:href="@{/Home}">Go back Home</a>
	</div>
	<div id="Links" align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>	

	<div align= "center">
		<h2>Thank You!</h2>
		<h3>Your opinion matters.</h3>
		<br>
		<br>
		<div id="greeting">
			<p th:text="${'Confìgratulations ' + session.account.username + ', you just earned ' + newPoints + ' points.'}"></p>
			<p>Come back tomorrow for a new questionnaire!</p>
		</div>
	</div>
</body>