<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="ISO-8859-1">
<style>
input[type=text],[type=password]{
	width: 25%;
	padding: 7px 5px;
	margin: 8px 0;
}
button[type="submit"] {
  background-color: #989898 !important;
  color: white !important;
  padding: 1% 1.5% !important;
  display: inline-block !important;
  width:100px !important;
  text-align: center !important;
}
button[type="submit"]:hover {
	background-color: #555 !important;
}
</style>
<title>Create questionnaire</title><link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>


<body>
		
	<div align="center">
	
		<br>
		<h1>Creation page</h1>
		
		<br>
		<br>
		
		<div>
			<h4>The parameter you just set are right and you can now proceed</h4>
			<p th:text="${'The date you chose: ' + #dates.format(session.questionnaireDate, 'dd-MMM-yyyy')}"></p>
		</div>
				
		<br>
		<br>
		<br>
		<br>
		
		
		
		<form action="#" th:action="@{/SendQuestionnaireData}" method="POST">			
			<select th:field="*{products}" id="productId" name="productId" required>
				<option value="">Choose the product of the day</option>
				<option th:each="p: ${products}" th:value="${p.getId()}" th:text="${p.getName()}" />
			</select>
				
			<br>
			<br>
			<br>
			<br>
				
			<div th:each="n : ${numbers}">
				<div class="row">
					<span th:text="'Insert question number ' + ${n} + ':'"></span>
				</div>
				<div class="row">
					<input type="text" name="Questions" required="required" maxlength="200">
				</div>
			</div>
			<br>
			<br>
			<div align="center">
				<button type="submit" name="submit_param" value="submit">Submit</button>
			</div>				
		</form>
		
		
		
		
		
		<br>
		<br>
		
				
	</div>
	
		
</body>
</html>