<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="ISO-8859-1">
<style>
input[type=text],[type=password]{
	width: 25%;
	padding: 7px 5px;
	margin: 8px 0;
}
button[type="submit"] {
  background-color: #989898 !important;
  color: white !important;
  padding: 1% 1.5% !important;
  display: inline-block !important;
  width:100px !important;
  text-align: center !important;
}
button[type="submit"]:hover {
	background-color: #555 !important;
}
</style>
<title>Insert new product</title><link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>


<body>
	<div id="Links" align="right">
		<a th:href="@{/AdminPage}">Go back to Admin Page</a>
	</div>
	<div align="right">
		<a id="Links" th:href="@{/Logout}">Logout</a>
	</div>
		
	<div align="center">
	
		<br>
		<h1>Creation page</h1>
		
				
		<br>
		<br>
				
		<form action="#" th:action="@{/SendNewProductData}" method="POST" enctype="multipart/form-data">	
		<fieldset>
			<div class="row">
					<span>Insert the name of the product</span>
			</div>
			<div class="row">
				<input type="text" name="ProductName" id="ProductName" required="required" maxlength="40">
			</div>
			
			<br>
			
			<div class="row">
					<span>Insert the description of the product</span>
			</div>
			<div class="row">
				<input type="text" name="ProductDescription" required="required" maxlength="200">
			</div>
			
			<br>
		
			<div class="row">
					<span>Insert the price of the product</span>
			</div>						
			<div class="row">
				<input type="number" min=0.01 name="ProductPrice" required="required" step=0.01 max=1000000>
			</div>
			
			<br>
			<br>
			
			<span>Upload the product picture</span>
			<br>
			<input type="file" name="picture" required="required">
			
			<br>										
			<br>						
				
			
			<div class="row" th:if="${errorMsg!=null}">
				<p  style="color:red;" th:text=" ${errorMsg}"></p>
			</div>
					
					
			<div align="center">
				<button type="submit" name="submit_param" value="submit">Submit</button>
			</div>
			</fieldset>								
		</form>
		
	</div>
	
		
</body>
</html>