<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leaderboard</title>
<style>
.first {
	height: 50px;
	font-size: xx-large;
	
}
.second {
	height: 42px;
	font-size: x-large;
}
.third {
	height: 35px;
	font-size: large;
}
table, th {
	text-align: center
}
</style>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>

	<div th:if="${status.name() == 'USER'}">
		<div id="Links" align="right">
		<a th:href="@{/Home}">Homepage</a>
		</div>	
	</div>
	<div th:unless="${status.name() == 'USER'}">
		<div id="Links" align="right">
		<a th:href="@{/AdminPage}">Go back to Admin Page</a>
		</div>
	</div>
	
	<div align="right">
			<a id="Links"  th:href="@{/Logout}">Logout</a>
		</div>
		
	<h1 align = "center">Leaderboard</h1>
	
	<br>
	<br>
	
	
	<div align="center">
		<table class="styled-table" style="min-width:50%;">
			<thead>
				<tr>
					<th>Username</th>
					<th>Total points</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="first">
						<div th:text="${first.getUsername()}"></div>
					</td>
					<td class="first">
						<div th:text="${first.getTotalpoints()}"></div>
					</td>
				</tr>
				<tr>
					<td class="second">
						<div th:text="${second.getUsername()}"></div>
					</td>
					<td class="second">
						<div th:text="${second.getTotalpoints()}"></div>
					</td>
				</tr>
				<tr >
					<td class="third">
						<div th:text="${third.getUsername()}"></div>
					</td>
					<td class="third">
						<div th:text="${third.getTotalpoints()}"></div>
					</td>
				</tr>
				<tr th:each="a: ${accounts}">
					<td th:text="${a.getUsername()}"></td>
					<td th:text="${a.getTotalpoints()}"></td>
				</tr>
				<tr></tr>
			</tbody>
		</table>	
	</div>
	
	
</body>
</html>