<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="ISO-8859-1">
<title>Questionnaire Saved</title><link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>


<body>

	<div id="Links" align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>	
	
	
		
	<div align="center">
	
		<h2>The questionnaire has been saved correctly</h2>
		
		
		<br>
		<br>
		<br>
		<br>
		
		
		
		<div >
			<a id="AdminLink" th:href="@{/AdminPage}">Go back to the admin homepage</a>
		</div>	
		
		
		<br>
		<br>
		
				
	</div>
	
		
</body>
</html>