<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Questionnaire Result</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="center">
		<div align="right">
			<a id="Links"  th:href="@{/UsersResults(questionnaireid=${questionnaireid})}">Go back to the list of users</a>
		</div>
		<div align="right">
			<a id="Links"  th:href="@{/Logout}">Logout</a>
		</div>
		
		<h1>Statistical section:</h1>
		<table class="answer">
			<tr>
				<th>Age:</th>
				<th th:text= "${userquestionnaire.getAnswerAge()}"></th>
			</tr>
			<tr>
				<th>Sex:</th>
				<th th:text= "${userquestionnaire.getAnswerSex()}"></th>
			</tr>
			<tr>
				<th>Expertise Level:</th>
				<th th:text= "${userquestionnaire.getAnswerExp()}"></th>
			</tr>
		</table>
		
		<h1>Marketing section:</h1>
		
		<table class="answ" th:each="a : ${answers}">
			<tr>
				<th th:text= "${a.getQuestion().getQuestionText()}"></th>
			</tr>
			<tr>
				<th th:text= "${a.getAnswerText()}"></th>
			</tr>
		</table>
	</div>
</body>
</html>