<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Questionnaire Result</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/UsersResults(questionnaireid=${questionnaireid})}">Go back to the list of users</a>
	</div>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<h1>Statistical section:</h1>
	<p>Age:</p>
	<div th:text= "${userquestionnaire.getAnswerAge()}"></div>
	<p>Sex:</p>
	<div th:text= "${userquestionnaire.getAnswerSex()}"></div>
	<p>Expertise:</p>
	<div th:text= "${userquestionnaire.getAnswerExp()}"></div>
	
	<h1>Marketing section:</h1>
	<div th:each="a : ${answers}">
		<p th:text= "${a.getQuestion().getQuestionText()}"></p>
		<p th:text= "${a.getAnswerText()}"></p>
	</div>
	
</body>
</html>