<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Statistical Questions</title>
<style>
button[type="submit"] {
  background-color: #989898 !important;
  color: white !important;
  padding: 1% 1.5% !important;
  display: inline-block !important;
  width:150px !important;
  text-align: center !important;
}
button[type="submit"]:hover {
	background-color: #555 !important;
}
select {
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
</style>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div id="Links" align="right">
		<a th:href="@{/Home}">Leave statistical questions</a>
	</div>
	<div id="Links" align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>	
	<div align="center">
		<h2>Statistical Questions</h2>
		<br>
	
		<form action="#" th:action="@{/SendStatisticalData}" method="POST">
					<p>
						<label for="age_choice">What is your age?</label> 
						<select name="age_answer" id="age_answer">
							<option value=null>I don't want to answer</option>
						    <option value="under 18">under 18</option>
							<option value="18-25">18-25</option>
						    <option value="24-50">24-50</option>
							<option value="51-75">51-75</option>
							<option value="above 75">above 75</option>
						</select>
					</p>
					
					<br>
					<br>
					
					<p>
						<label for="sex_choice">How do you identify yourself?</label> 
						<select name="sex_answer" id="sex_answer">
							<option value=null>I don't want to answer</option>
							<option value="male">Male</option>
						    <option value="female">Female</option>
	   					    <option value="non-binary">Non Binary</option>
						    
						</select>
					</p>
					
					<br>
					<br>
					
					<p>
						<label for="expertise_choice">What is your expertise level?</label> 
						<select name="expertise_answer" id="expertise_answer">
							<option value=null>I don't want to answer</option>
						    <option value="Low">Low</option>
							<option value="Medium">Medium</option>
							<option value="High">High</option>
						</select>
					</p>
					
					<br>
					<br>
					
					<div align="center">
						<button type="submit" name="submit_param" value="submit">Send Answers</button>
					</div>
		</form>
	</div>

	
</body>
</html>